<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeConstructor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeConstructor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <CodeConstructor.Properties.Settings>
            <setting name="DataSource" serializeAs="String">
                <value>.,</value>
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value>JandanPic,</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>sa,</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>psswd,</value>
            </setting>
            <setting name="connectionStrings" serializeAs="String">
                <value>Data Source=知らない\HI406;Initial Catalog=master;User ID=sa;Password=1392033131;Connect Timeout=30</value>
            </setting>
            <setting name="Namespace" serializeAs="String">
                <value>CodeConstructor</value>
            </setting>
            <setting name="CreateFilePath" serializeAs="String">
                <value>E:\Desktop\CodeConstructor</value>
            </setting>
        </CodeConstructor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CodeConstructor.Properties.Settings>
            <setting name="IsTest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="keywordsCSharp" serializeAs="String">
                <value>abstract,as,base,bool,break,byte,case,catch,char,checked,const,continue,default,do,double,else,enum,explicit,extern,false,finally,fixed,float,for,foreach,goto,if,implicit,in,int,is,lock,long,namespace,new,null,operator,out,params,ref,return,sbyte,sealed,short,sizeof,stackalloc,static,struct,switch,this,throw,true,try,typeof,uint,ulong,unchecked,unsafe,ushort,using,using static,virtual,void,volatile,while,add,alias,ascending,async,await,descending,from,get,global,group,into,join,let,nameof,orderby,partial,remove,select,set,var,when,where,yield</value>
            </setting>
        </CodeConstructor.Properties.Settings>
    </applicationSettings>
</configuration>
